# Python
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Data directories
html outputs/
parsed csvs/

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# Logs
*.log
